:root {
  // colors

  --white: #fff;
  --black: #1e423d;
  --green: #274b47;
  --light-green: rgba(48 230 208 / 11%);
  --light-blue: #51e5ff;
  --dark-blue: #3563e9;
  --gray: #757575;
  --gray-700: #616161;

  // values

  --content-width: #{em(1200px)};
  --container-offset: #{em(15px)};

  // fonts

  --font-family: "Inter", sans-serif;
}
