.wave {
  position: absolute;
  bottom: -2px;
  width: 100%;

  svg {
    display: block;
    width: inherit;
    height: rem(250px);

    @include laptop {
      height: rem(150px);
    }

    @include mobile {
      height: rem(100px);
    }
  }
}