.difference {
  padding: rem(50px) 0 rem(80px);

  &__title {
    margin-bottom: em(20px, 48px);
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: rem(48px);
    line-height: 120%;
    letter-spacing: em(0.2px, 48px);
  }

  &__caption {
    margin-bottom: em(50px, 20px);
    font-family: "Manrope", sans-serif;
    font-size: rem(20px);
    line-height: 120%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: rem(30px);
  }

  &__item {
    grid-column: 3 span;
    border-radius: rem(10px);
    padding: rem(20px);
    min-height: rem(350px);
    color: var(--white);
    background-color: var(--green);

    img {
      display: block;
      margin-bottom: rem(30px);
    }

    @include laptop {
      grid-column: 4 span;
    }
  }

  &__subtitle {
    margin-bottom: em(15px, 22px);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 120%;
    letter-spacing: em(0.2px, 22px);
  }

  &__descr {
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: em(0.2px, 16px);
  }
}