<section class="difference">
  <div class="container">
    <h2 class="difference__title">Как отличить неподлинное ПО?</h2>
    <p class="difference__caption">Cледующие признаки могут свидетельствовать о том, что ПО не является подлинным:</p>
    <ul class="grid">
      <li class="difference__item">
        <picture>
          <source srcset="assets/images/money.avif" type="image/avif">
          <source srcset="assets/images/money.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/money.png" aria-hidden="true">
        </picture>
        <h3 class="difference__subtitle">Стоимость</h3>
        <p class="difference__descr">Цена продукта подозрительно низка.</p>
      </li>
      <li class="difference__item">
        <picture>
          <source srcset="assets/images/share.avif" type="image/avif">
          <source srcset="assets/images/share.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/share.png" aria-hidden="true">
        </picture>
        <h3 class="difference__subtitle">Распространение</h3>
        <p class="difference__descr">ПО распространяется через приложения для обмена файлами (P - P), по электронной почте, в социальных сетяхи на форумах.</p>
      </li>
      <li class="difference__item">
        <picture>
          <source srcset="assets/images/cloud.avif" type="image/avif">
          <source srcset="assets/images/cloud.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/cloud.png" aria-hidden="true">
        </picture>
        <h3 class="difference__subtitle">Продукт</h3>
        <p class="difference__descr">Выполнение активации требует загрузки файлов.</p>
      </li>
      <li class="difference__item">
        <picture>
          <source srcset="assets/images/key.avif" type="image/avif">
          <source srcset="assets/images/key.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/key.png" aria-hidden="true">
        </picture>
        <h3 class="difference__subtitle">Активация</h3>
        <p class="difference__descr">Продукты предлагаются отдельно от лицензий в виде отдельных ключей, или в комплекте с несколькими другими ключами.</p>
      </li>
      <li class="difference__item">
        <picture>
          <source srcset="assets/images/box.avif" type="image/avif">
          <source srcset="assets/images/box.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/box.png" aria-hidden="true">
        </picture>
        <h3 class="difference__subtitle">Упаковка</h3>
        <p class="difference__descr">Упаковка вскрыта или отличается от стандартной упаковки продуктов Microsoft.</p>
      </li>
      <li class="difference__item">
        <picture>
          <source srcset="assets/images/lock.avif" type="image/avif">
          <source srcset="assets/images/lock.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/lock.png" aria-hidden="true">
        </picture>
        <h3 class="difference__subtitle">Ключ</h3>
        <p class="difference__descr">Ключ продукта или код установки не срабатывает, либо не удается активировать ПО.</p>
      </li>
      <li class="difference__item">
        <picture>
          <source srcset="assets/images/box-open.avif" type="image/avif">
          <source srcset="assets/images/box-open.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/box-open.png" aria-hidden="true">
        </picture>
        <h3 class="difference__subtitle">Внешний вид</h3>
        <p class="difference__descr">Продукт поставляется в нетипичной или непрофессионально изготовленной упаковке.</p>
      </li>
      <li class="difference__item">
        <picture>
          <source srcset="assets/images/error.avif" type="image/avif">
          <source srcset="assets/images/error.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/error.png" aria-hidden="true">
        </picture>
        <h3 class="difference__subtitle">Поставка</h3>
        <p class="difference__descr">Компьютер или другое устройство поставляются с уже активированным ПО.</p>
      </li>
    </ul>
  </div>
</section>