<footer class="footer">
  <div class="container">
    <div>
      <p class="footer__caption">Официальный дистрибьютор Microsoft в Казахстане:</p>
      <img src="assets/images/logo.png" alt="logo">
    </div>
    <ul class="footer__list">
      <li class="footer__list-item">
        <img src="assets/images/svg/location.svg" alt="" aria-hidden="true">
        <address>г. Алматы, 050051, пр.Достык, д.140</address>
      </li>
      <li class="footer__list-item">
        <img src="assets/images/svg/grade.svg" alt="" aria-hidden="true">
        <a href="https://www.comportal.kz/" target="_blank">www.comportal.kz</a>
      </li>
      <li class="footer__list-item">
        <img src="assets/images/svg/call.svg" alt="" aria-hidden="true">
        <a href="tel:+77273003020">+7 (727) 300 30 20</a>
      </li>
    </ul>
  </div>
</footer>