.footer {
  padding: rem(40px) 0;
  font-family: "Manrope", sans-serif;

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include resolution(1200px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: initial;
      gap: rem(50px);
    }
  }

  &__caption {
    margin-bottom: em(15px, 20px);
    max-width: rem(290px);
    font-weight: 600;
    font-size: rem(20px);
    line-height: 160%;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: rem(90px);

    @include resolution(1200px) {
      gap: rem(50px);
    }

    @include tablet {
      flex-direction: column;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    max-width: rem(200px);
    font-size: rem(16px);
    line-height: 160%;
    letter-spacing: em(-0.3px, 16px);
    gap: rem(15px);

    > a {
      @include hover {
        color: var(--dark-blue);
      }
    }
  }
}