@import "../shared/nav/nav";
@import "../shared/burger/burger";

.header {
  padding: 1.5rem 0;
  background-color: var(--white);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    @include tablet {
      display: none;
    }
  }

  &__btn {
    width: 10rem;
    height: 3rem;
  }
}

.burger-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  padding: 30px 15px;
  width: 80%;
  height: 100%;
  background-color: var(--white);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  &__btn {
    position: absolute;
    right: 15px;
    top: 30px;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__nav .nav__list {
    flex-direction: column;
  }

  &--visible {
    transform: none;
  }
}