@import "@shared/wave/wave";

.hero {
  position: relative;
  padding-top: 180px;
  padding-bottom: 285px;
  font-family: "Manrope", sans-serif;
  color: var(--white);
  background-image: url("../assets/images/hero-bg.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--green);

  &__descr {
    margin-bottom: em(12px, 60px);
    font-weight: 700;
    font-size: 4rem;
    line-height: 120%;

    @include tablet {
      font-size: 3rem;
    }

    @include mobile {
      font-size: 2rem;
    }
  }

  &__title {
    margin-bottom: 3.5em;
    max-width: 500px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.05em;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__btn {
    width: 13rem;
    height: 3rem;
    letter-spacing: 0.05em;
  }

  @include tablet {
    padding-top: 100px;
    padding-bottom: 250px;
  }
}