<section class="provider">
  <div class="container">
    <h2 class="provider__title">Доверенные поставщики Майкрософт</h2>
    <ul class="provider__list grid">
      <li class="provider__item">
        <picture>
          <source srcset="assets/images/logo1.avif" type="image/avif">
          <source srcset="assets/images/logo1.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/logo1.png" aria-hidden="true">
        </picture>
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <picture>
          <source srcset="assets/images/logo2.avif" type="image/avif">
          <source srcset="assets/images/logo2.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/logo2.png" aria-hidden="true">
        </picture>
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <picture>
          <source srcset="assets/images/logo3.avif" type="image/avif">
          <source srcset="assets/images/logo3.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/logo3.png" aria-hidden="true">
        </picture>
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <picture>
          <source srcset="assets/images/logo4.avif" type="image/avif">
          <source srcset="assets/images/logo4.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/logo4.png" aria-hidden="true">
        </picture>
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <picture>
          <source srcset="assets/images/logo5.avif" type="image/avif">
          <source srcset="assets/images/logo5.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/logo5.png" aria-hidden="true">
        </picture>
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <picture>
          <source srcset="assets/images/logo6.avif" type="image/avif">
          <source srcset="assets/images/logo6.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/logo6.png" aria-hidden="true">
        </picture>
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <picture>
          <source srcset="assets/images/logo7.avif" type="image/avif">
          <source srcset="assets/images/logo7.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/logo7.png" aria-hidden="true">
        </picture>
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <picture>
          <source srcset="assets/images/logo8.avif" type="image/avif">
          <source srcset="assets/images/logo8.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/logo8.png" aria-hidden="true">
        </picture>
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <picture>
          <source srcset="assets/images/logo9.avif" type="image/avif">
          <source srcset="assets/images/logo9.webp" type="image/webp">
          <img class="difference__icon" alt="" src="assets/images/logo9.png" aria-hidden="true">
        </picture>
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
    </ul>
  </div>
</section>