<section class="provider">
  <div class="container">
    <h1 class="provider__title">Доверенные поставщики Майкрософт</h1>
    <ul class="list-reset provider__list">
      <li class="provider__item">
        <img src="assets/images/logo1.png" alt="" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo2.png" alt="" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo3.png" alt="" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo4.png" alt="" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo5.png" alt="" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo6.png" alt="" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo7.png" alt="" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo8.png" alt="" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo9.png" alt="" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
    </ul>
  </div>
</section>