.provider {
  padding: rem(50px) 0 rem(80px);
  background-image: url("../assets/images/provider-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #274b47;

  &__title {
    margin-bottom: em(56px, 48px);
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: em(0.2px, 48px);
    text-align: center;
    color: var(--white);
  }

  &__list {
    padding: rem(55px) rem(30px);
    background-color: var(--white);
  }

  &__item {
    grid-column: 4 span;
    border-radius: rem(10px);
    padding: rem(23px);
    box-shadow: 0 0 6px rgba(0 133 116 / 28%);
    background-color: var(--white);
  }

  &__logo {
    display: block;
    margin-bottom: rem(20px);
  }

  &__descr {
    font-size: rem(16px);
    line-height: 150%;
    text-transform: capitalize;
    color: var(--gray-700);
  }
}