<section class="provider">
  <div class="container">
    <h2 class="provider__title">Доверенные поставщики Майкрософт</h2>
    <ul class="provider__list grid">
      <li class="provider__item">
        <img src="assets/images/logo1.png" alt="Provider 1 logo" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo2.png" alt="Provider 2 logo" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo3.png" alt="Provider 3 logo" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo4.png" alt="Provider 4 logo" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo5.png" alt="Provider 5 logo" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo6.png" alt="Provider 6 logo" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo7.png" alt="Provider 7 logo" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo8.png" alt="Provider 8 logo" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
      <li class="provider__item">
        <img src="assets/images/logo9.png" alt="Provider 9W logo" class="provider__logo">
        <p class="provider__descr">Aliquam vehicula pellentesque id mi quam ipsum. Arcu nisl faucibus mattis etiam.</p>
      </li>
    </ul>
  </div>
</section>